.slider-container, .activation-selector-container {
    margin-left: auto;
    margin-right: auto;

    width: 50%;
}

/*https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.slider-input {
    width: 100%;
    appearance: none;
    opacity: 0.8;
    background: #404049;
    color: red;
    transition: opacity .15s;
}

.slider-input:hover {
    opacity: 1;
}

.slider-input::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 15px;
    background: #D0D3D9;
}

.train-test-split-display {
    text-align: center;
    padding-bottom: 5px;
}

.activation-layers-window {
    width: 100%;
    /*min-width: 100%;*/

    height: 200px;
    min-height: 200px;

    background-color: #c8c8cd;

    overflow: hidden;
    overflow-y: scroll;
}

.select-activation {
    appearance: none;
    width: 100%;
    height: 30px;
    background-color: #c8c8cd;
    border:none;
}

#select-activation-button {
    display: none;
}

.select-activation-label {
    display: inline-block;
    text-align: center;
    width: 100%;
    min-width: 100%;
    background-color: #404049;
    padding: 10px 0;
    color: white;

}