.main-column-properties {
    background-color: #89888C;
}

.main-column {
    height:calc(100vh - 70px);

    width:30%;
}

#upload-input {
    display: none;
}

#upload-button {
    display: none;
}

.upload-section {
    padding-top: 12%;
    /*padding-left: 20%;*/
    margin: auto;
    width: 55%;
}

.upload-input-label {
    font-family: helvetica;
    background-color: #606065;
    color: white;
    padding: 10px 25px;
}

.upload-button-label {
    font-family: helvetica;
    background-color: #404049;
    color: white;
    padding: 10px 25px;
}

.column-selector-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;

    height: 25%;
    background-color: #c8c8cd;

    overflow: hidden;
    overflow-y: scroll;
}

.text-columns {
    font-family: helvetica;
}