.main-column-properties {
    background-color: #89888C;
}

.main-column {
    height:calc(100vh - 70px);

    width:30%;
}

#upload-input {
    display: none;
}

#upload-button {
    display: none;
}

.upload-section {
    padding-top: 40px;
    padding-left: 20%;

}

.upload-input-label {
    font-family: helvetica;
    background-color: #606065;
    color: white;
    padding: 10px 25px;
}

.upload-button-label {
    font-family: helvetica;
    background-color: #404049;
    color: white;
    padding: 10px 25px;
}