.display-none-1 {
    color: #89888C;
}

.main-column-properties {
    background-color: #89888C;
}

.main-column {
    height:calc(100vh - 70px);
    z-index: 1000;
    width:30%;
    overflow: hidden;
    overflow-y: scroll;
}

#upload-input {
    display: none;
}

#upload-button {
    display: none;
}

.upload-section {
    padding-top: 15px;
    /*padding-left: 20%;*/
    margin: auto;
    width: 55%;
}

.upload-input-label {
    font-family: helvetica;
    background-color: #606065;
    color: white;
    padding: 10px 25px;
}

.upload-button-label {
    font-family: helvetica;
    background-color: #404049;
    color: white;
    padding: 10px 25px;
}

.column-selector-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50%;

    height: 25%;
    background-color: #c8c8cd;

    overflow: hidden;
    overflow-y: scroll;

}

.text-columns {
    font-family: helvetica;
}

.select-y-value-container {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
}

.custom-select-1 {
    appearance: none;
    width: 70%;
    height: 30px;
    background-color: #c8c8cd;
    border: none;
}


.select-y-value-label {
    background-color: #404049;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.submit-button-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    position: relative;
}

#submit-button, #config-button, #back-config-button, #select-y-value-button {
    display: none;
}

.submit-button-label {
    background-color: #404049;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 10px 0;
    color: white;
}

.config-button-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    position: relative;
    padding-bottom: 40%;
}

.config-button-label {
    background-color: #404049;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 10px 0;
    color: white;
}

.back-config-button-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

    position: relative;

    padding-bottom: 20%;
}

.back-config-button-label {
    background-color: #404049;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 10px 0;
    color: white;
}
