.main-column-properties {
    background-color: #89888C;
}

.main-column {
    height:calc(100vh - 70px);

    width:30%;
}

#upload-input {
    display: none;
}

#upload-button {
    display: none;
}

.upload-section {
    padding-top: 12%;
    /*padding-left: 20%;*/
    margin: auto;
    width: 55%;
}

.upload-input-label {
    font-family: helvetica;
    background-color: #606065;
    color: white;
    padding: 10px 25px;
}

.upload-button-label {
    font-family: helvetica;
    background-color: #404049;
    color: white;
    padding: 10px 25px;
}

.column-selector-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50%;

    height: 25%;
    background-color: #c8c8cd;

    overflow: hidden;
    overflow-y: scroll;

}

.text-columns {
    font-family: helvetica;
}

.select-y-value-container {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
}

.custom-select-1 {
    appearance: none;
    width: 70%;
    height: 30px;
    background-color: #c8c8cd;
    border: none;
}

#select-y-value-button {
    display: none;
}

.select-y-value-label {
    background-color: #404049;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}